In [2]:
import plotly.express as px
import pandas as pd

In [7]:
df = pd.read_csv('../DATA/AnnualTicketSales.csv')
df.drop(df.columns[-1], axis=1, inplace=True)
df.drop('TOTAL INFLATION ADJUSTED BOX OFFICE', axis=1, inplace=True)

def fix_columns(x):
  x = str(x)
  x = x.replace(',', '')
  x = x.replace('$', '')

  return int(float(x))

for column in df.columns:
  df[column] = df[column].apply(fix_columns)

df.head()

   YEAR  TICKETS SOLD  TOTAL BOX OFFICE  AVERAGE TICKET PRICE
0  2021     423774881        3881777912                     9
1  2020     223638958        2048534616                     9
2  2019    1228541629       11253443955                     9
3  2018    1311536128       11948096650                     9
4  2017    1225639761       10993991460                     8

### PLOTLY